*~
\#*
target
*.swp
.svn
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
*.iws
*.ipr
*.iml
.idea
.DS_Store
.shell_history
artifacts
*/bin
*/data
*/pom-with-build-number.xml
/bin/
node_modules/
*.MF